* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: #8EE0F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 50px;
}

h1 {
    font-size: 32px;
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #ddd;
}

/* Remover background dos links Home e Guia */
nav ul li a.no-background {
    background-color: transparent;
    padding: 0;
}

/* Estilo específico para o link Register */
nav ul li a.register-link {
    background-color: #000;
    color: #fff;
}

nav ul li a.register-link:hover {
    background-color: #333;
}

.register {
    background-color: #000;
    color: #fff;
}

main {
    padding: 40px;
}

.faq-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20%;
    row-gap: 60px;
    margin: 0 auto; /* Centraliza a seção */

}

.faq-box {
    background-color: #8EE0F7;
    padding: 40px;
    border-radius: 8px;
    width: 100%;

    
}

.faq-box h2 {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.faq-box p {
    color: #333;
}

.contact-section {
    text-align: center;
    max-width: 300px; /* Limita o comprimento máximo */
    margin-left: auto; /* Empurra a seção para a direita */
    margin-right: 0; /* Remove qualquer margem à direita */
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-section button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #FF8C00;
}

.contact-section img {
    margin-top: 20px;
    width: 100px;
}






