* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #92DCE5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-size: 1.8rem;
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #ddd;
}

/* Remover background dos links Home e Guia */
nav ul li a.no-background {
    background-color: transparent;
    padding: 0;
}

/* Estilo específico para o link Register */
nav ul li a.register-link {
    background-color: #000;
    color: #fff;
}

nav ul li a.register-link:hover {
    background-color: #333;
}

main {
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
}

main {
    padding: 40px;
    text-align: center;
}

.content-wrapper {
    max-width: 800px; /* Limita o comprimento máximo */
    margin: 0 auto; /* Centraliza a seção */
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}


.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .content-grid {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
